@font-face {
    font-family: roboto_thin;
    src: url("./assets/font/Roboto-Thin.ttf");
}
@font-face {
    font-family: roboto_m;
    src: url("./assets/font/Roboto-Medium.ttf");
}
html::-webkit-scrollbar {
    width: 5px;
}
html::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --robot_th: roboto_thin;
    --robot_m: roboto_m;
    --bg: #f7f8fb;
    --input_color: #5a5881;
}

button,
input {
    outline: none;
    border: none;
    background-color: transparent;
}
button {
    cursor: pointer;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.max_pad {
    max-width: 1440px;
    padding: 0 30px 0 120px;
    margin: 0 auto;
}
.body,
body {
    background-color: var(--bg);
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.d-flex {
    display: flex;
}
.justify_betwen {
    justify-content: space-between;
}
.profile {
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.profile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.align_center {
    align-items: center;
}
.input_search {
    background-color: white;
    padding: 0 10px;
    border-radius: 10px;
}
.input_search input {
    padding: 10px 5px;
    color: var(--input_color);
}
.input_search input::placeholder {
    color: var(--input_color);
}
.input_search button {
    padding-top: 5px;
}
nav {
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: var(--bg);
    z-index: 100;
}
nav ul {
    display: flex;
    gap: 15px;
    font-size: 20px;
}
nav ul a {
    color: black;
    display: inline-block;
}

ul .noti_count {
    top: -10px;
    right: -5px;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 17px;
    border-radius: 50%;
    background-color: #563bff;
    font-family: var(--robot_m);
}
.site_bar li a {
    display: inline-block;
}
li a:active {
    transform: scale(0.9);
}
/* site bar style */
.bars {
    transform: rotate(180deg);
}
.site_bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 25px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site_bar ul,
.site_bar button {
    font-size: 22px;
}
.site_bar ul {
    max-height: 95vh;
    overflow: auto;
    position: relative;
}
.site_bar ul::-webkit-scrollbar {
    width: 0;
}
.site_bar button {
    margin-bottom: 50px;
    color: var(--input_color);
}
.site_bar ul li {
    padding: 15px;
    position: relative;
    cursor: pointer;
}
.site_bar li a {
    color: #c7c7d2;
    transition: 0.1s ease;
}
.site_bar li::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 5px;
    border-radius: 0 50px 50px 0;
    transition: 0.2s ease;
    content: "";
}

.hover_bg li a {
    padding: 15px 20px 10px;
    border-radius: 15px;
}
.hover_bg li:hover a {
    box-shadow: 0 10px 10px #cbc6e4;
    background-color: #563bff;
    color: white;
}
.hover_bg li:hover::after {
    background-color: #3734a9;
}
.hover_bg li a.active {
    box-shadow: 0 10px 10px #cbc6e4;
    background-color: #563bff;
    color: white;
}
/* site bar style */

/* Charts */
.gap_20 {
    gap: 20px;
}
.line_chart {
    width: 60%;
}
.circle_chart {
    width: 40%;
    /* align-items: center; */
    /* gap: 20px; */
}

.bg_white {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.description_chart_circle {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--robot_m);
}
.description_chart_circle li {
    font-weight: 700;
}
.description_chart_circle li > span {
    margin-bottom: 5px;
    display: inline-block;
    color: #5a5881;
}
.circle_chart .bg_white {
    padding: 27px;
}
.flex_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--robot_m);
    margin: 15px 0;
}
.flex_element h1 {
    color: #15134b;
    font-size: 20px;
}
.flex_element p {
    color: #5a5881;
    font-size: 14px;
}
.shadow_text h1 {
    text-shadow: 0 5px 3px #b0afc8;
}
/* Charts */

/* left_box and right_box */
.left_box {
    width: 60%;
}
.right_box {
    width: 40%;
}
.left_box .boxer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.boxer .box {
    width: calc(100% / 4 - 15px);
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: var(--robot_m);
    color: #15134b;
    cursor: pointer;
}
.mt-20 {
    margin-top: 20px;
}
.box .icon {
    color: #3575ff;
    background-color: #3575ff77;
    display: inline-block;
    padding: 12px 14px 8px;
    border-radius: 10px;
    opacity: 0.7;
    transition: 0.2s ease-out;
}
.box:nth-child(2) .icon {
    color: #f36643;
    background-color: #f3664358;
}
.box:nth-child(3) .icon {
    color: #4524f8;
    background-color: #4424f844;
}
.box:nth-child(4) .icon {
    color: #24d6a5;
    background-color: #24d6a44c;
}
.box:hover .icon {
    opacity: 1;
}
.box_amount {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.box_amount span {
    opacity: 0.7;
}
.right_box .bg_white {
    padding: 20px 30px;
}
.left_box .export_box {
    margin: 20px 0;
    color: #15134b;
    font-family: var(--robot_m);
}
.left_box .flex_element button {
    background-color: white;
    border-radius: 10px;
    padding: 10px 35px;
    text-transform: capitalize;
    font-family: var(--robot_m);
    font-weight: 700;
    color: #15134bb8;
}
.right_box {
    font-family: var(--robot_m);
    color: #15134b;
}
.right_box .bg_white h1 {
    font-size: 20px;
    margin-bottom: 25px;
}
.bg_white hr {
    opacity: 0.1;
}
.progress_line .flex_element p {
    color: #15134b;
    opacity: 0.7;
    width: 10%;
}
.progress_line .flex_element p:last-child {
    text-align: right;
}
.progress_line .flex_element .outline_cover {
    width: 60%;
    height: 7px;
    background-color: #f2f3f9;
    border-radius: 10px;
    position: relative;
    margin: 8px 0;
    transform-origin: left;
}
.outline_cover .line {
    background-color: #563bff;
    border-radius: 10px;
    position: absolute;
    width: 60%;
    height: 100%;
}

.outline_cover:hover {
    opacity: 0.7;
}
.progress_line .flex_element:nth-child(2) .line {
    background-color: #ff7049;
    width: 70%;
}
.progress_line .flex_element:nth-child(3) .line {
    background-color: #20c997;
    width: 40%;
}

.export:active {
    transform: scale(0.95);
}

.by_device {
    background-color: white;
    padding: 35px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.by_device p {
    color: #15134b;
    opacity: 0.7;
    margin-top: 10px;
}

.by_device button {
    padding: 10px 40px;
    background-color: #563bff;
    color: white;
    border-radius: 10px;
    text-transform: capitalize;
}
.by_device button:active {
    transform: scale(0.95);
}
.by_device button:hover {
    opacity: 0.9;
}
.progress_circle {
    gap: 20px;
    font-family: var(--robot_m);
}
.progress_circle .flex_element {
    width: 50%;
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
    position: relative;
}
.progress_circle p {
    opacity: 0.7;
    margin-top: 10px;
}
.text_end {
    text-align: right;
}
/* left_box and right_box */

/* chart one styles */

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 40px 40px 10px #15134b1d;
}
.progress_circle .flex_element:nth-child(2) .shadow {
    box-shadow: 0 40px 40px 10px #ff70491c;
}
.skill {
    width: 160px;
    height: 160px;
    position: absolute;
    transform: scale(0.5);
    left: calc(50% - 80px);
}
.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgb(255, 255, 255, 0.7);
}
.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #553bff20;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgb(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgb(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgb(255, 255, 255, 1),
        0.5px 0.5px 0px rgb(0, 0, 0, 0.15),
        0px 12px 10px -10px rgb(0, 0, 0, 0.05);
}
.inner .text {
    font-weight: 600px;
    color: #555;
    text-transform: uppercase;
    font-size: 25px;
}
.skill circle {
    fill: none;
    stroke: #563bff;
    stroke-width: 20px;
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation: circle 2s linear forwards;
}
.progress_circle .flex_element:nth-child(2) circle {
    animation: circle_2 3s linear forwards;
    stroke: #ff7049;
}
.progress_circle .flex_element:nth-child(2) .inner {
    background-color: #ff70491b;
}
.skill svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@keyframes circle {
    100% {
        stroke-dashoffset: 150;
    }
}
@keyframes circle_2 {
    100% {
        stroke-dashoffset: 150;
    }
}
.btn_site_bar_active {
    display: none;
}
/* media */
@media screen and (max-width: 1140px) {
    .circle_chart .bg_white {
        flex-direction: column;
        padding: 0;
    }
    .description_chart_circle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;
    }
    .boxer .box {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 980px) {
    .line_chart {
        width: 100%;
    }
    .circle_chart {
        width: 100%;
        /* padding: 0; */
    }
    .circle_chart .bg_white {
        flex-direction: row;
        padding: 0;
    }
    .column {
        flex-wrap: wrap;
    }
    .progress_circle {
        width: 100%;
        flex-wrap: wrap;
        gap: 0;
    }
    .progress_circle .flex_element {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        padding: 30px 20px;
    }
    .left_box .export_box {
        margin: 15px 0;
    }
    .by_device {
        padding: 10px 20px;
    }

    .site_bar ul li {
        padding: 7px;
    }
    .site_bar li a {
        padding: 10px 15px 5px;
        font-size: 18px;
        border-radius: 10px;
    }
    .site_bar button {
        margin-bottom: 20px;
    }
    .max_pad {
        padding: 0 30px 0 90px;
    }
    .apexcharts-datalabel-label {
        display: none;
    }
    .apexcharts-datalabel-value {
        display: none;
    }
    .box_amount h2 {
        font-size: 18px;
    }
}
@media screen and (max-width: 780px) {
    .line_chart .flex_element,
    .circle_chart .flex_element {
        margin: 0;
        margin-bottom: 15px;
    }
    .line_chart .flex_element h1,
    .circle_chart .flex_element h1 {
        font-size: 18px;
    }
    nav {
        padding: 10px 0;
    }
    .gap_20 {
        gap: 10px;
    }
    .left_box .boxer {
        gap: 10px;
    }
    .left_box .box {
        width: calc(50% - 5px);
    }
    .by_device {
        margin-top: 10px;
    }
    .progress_circle .flex_element:first-child {
        margin: 0;
    }
    .mt-20 {
        margin-top: 10px;
    }
    .by_device h1 {
        font-size: 16px;
    }
    .by_device p {
        font-size: 12px;
    }
    .section_l_r {
        flex-wrap: wrap;
        gap: 0;
    }
    .left_box,
    .right_box {
        width: 100%;
    }
    .circle_chart .bg_white {
        flex-direction: column;
    }
    .progress_circle .flex_element {
        padding: 40px 20px;
    }
    .max_pad {
        padding: 0 10px 0 70px;
    }
}

@media screen and (max-width: 420px) {
    .chart {
        width: 100% !important;
    }
    .apexcharts-yaxis {
        display: none;
    }
    .chart .apexcharts-inner {
        width: 100%;
        transform: translate(5%, 10%) scale(1.15);
    }
    .site_bar {
        left: -50%;
        padding: 15px 0;
        background-color: white;
        z-index: 105;
        transition: 0.3s ease;
    }
    .max_pad {
        padding: 10px 15px;
    }
    nav ul {
        gap: 5px;
    }
    .btn_site_bar_active {
        display: block;
    }
    .active_site_bar {
        left: 0;
    }
}
@media screen and (max-width: 340px) {
    .max_pad {
        padding: 5px;
    }
    .flex_element {
        padding: 0 15px;
    }
}
/* media */
